.sidebar {
    display: none;
    position: fixed;
    height: 100px;
    width: 100%;
    background: transparent;
    bottom: 0px;
    z-index: 100500;
}

.sidebar-checkbox {
    position: absolute;
    z-index: 3;
    right: 0;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;

    button {
        background: white;
        display: block;
        margin: auto;
        &:hover {
            background: rgba(255, 255, 255, 0.644);
        }
        span:first-child {
            svg {
                fill: #494949;
            }
        }
    }
}

.sidebar-body {
    border-radius: 60px 0 0 0;
    height: fit-content;
    width: 100px;
    // bottom: -50vh;
    right: 0;
    padding-bottom: 100px;
    transition: bottom 1s ease;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    position: absolute;
    display: flex;
    .sidebar-buttons {
        padding: 1.2rem 0 0 0;
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        button {
            font-size: .6rem;
            height: 60px;
            width: 60px !important;
            padding: 0 !important;
            min-width: 50px;
            span:first-child {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                }
        }
    }
}

@media (max-width: 992px) {
    .sidebar {
        display: flex;
    }
}