footer {
    width: 100%;
    height: 70vh;
    background: #FFCA54;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.footer-left, .footer-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 650px;
        transform: translate3d(0,0,0);
        animation: bark 1.2s linear infinite;
    }
}

.footer-up {
    h2 {
        font-size: 2rem;
        color: #494949;
        font-weight: 800;
    }
    button {
        margin-top: 2rem;
        background: #F36A3E;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        border-radius: 100px;
        color: white;
        cursor: pointer;
            transition: background .3s ease;
            transition: transform .3s ease;
            box-shadow: 0 0 10px #d13f0e9a;
            border: #F36A3E 2px solid;
        &:hover {
            border: 2px solid #F36A3E;
            transform: scale(.95);
            background: #c25632;
            transition: background .3s ease;
            transition: transform .3s ease;
        }
    }
}

.footer-middle {
    display: flex;
    margin-bottom: 2rem;
    h2 {
        margin-bottom: 1rem;
        color: #494949;
    }
    .contact-us {
        a {
            color: #494949;
            text-decoration: none;
            font-weight: 500;
            border-bottom: 1px solid #494949;
            padding-bottom: .2rem;
        }
    }
    .follow-us {
        margin-left: 3rem;
        a {
            margin-right: 1rem;
            height: 30px;
            width: 30px;
        }
        img {
            width: 30px;
        }
        .follow-us--links {
            display: flex;
        }
    }
}

.footer-down {
    display: flex;
    height: 66px;
    align-items: center;
    span {
        margin-left: 2rem;
        color: #494949;
    }
}

@media (max-width: 1400px) {
    .footer-right {
        display: none;
    }
    .footer-left {
        width: 100%;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 5rem 7rem;
    }
    .footer-up {
        h2 {
            font-size: 1.8rem;
        }
        button {
            padding: 1.3rem 1.8rem;
            font-size: 1.3rem;
        }
    }
    .footer-middle {
        .contact-us, .follow-us {
            h2 {
                font-size: 1.3rem;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        padding: 3rem 5rem;
    }
    .footer-up {
        width: 100%;
        button {
            display: block;
            margin: 4rem auto;
        }
    }
    .footer-down {
        span {
            font-size: .7rem;
        }
    }
}

@media (max-width: 576px) {
    footer {
        padding: 2rem 1rem;
    }
    .footer-up {
        h2 {
            font-size: 1.5rem;
        }
        button {
            padding: 1rem 1.5rem;
            font-size: 1rem;
        }
    }
    .footer-middle {
        flex-direction: column;
        .follow-us {
            margin-left: 0;
            margin-top: 2rem;
        }
        .contact-us, .follow-us {
            h2 {
                font-size: 1.3rem;
            }
        }
    }
    .footer-down {
        img {
            height: 50px;
        }
    }
}

@keyframes bark {
    0% {transform: translate3d(0,0,0) rotate(3deg);}
    12% {transform: translate3d(5px,10px,0) rotate(4deg);}
    25% {transform: translate3d(10px,20px,0) rotate(5deg);}
    37% {transform: translate3d(13px,30px,0) rotate(6deg);}
    50% {transform: translate3d(15px,45px,0) rotate(7deg);}
    63% {transform: translate3d(13px,30px,0) rotate(6deg);}
    75% {transform: translate3d(10px,20px,0) rotate(5deg);}
    87% {transform: translate3d(5px,10px,0) rotate(4deg);}
    100% {transform: translate3d(0px,0px,0) rotate(3deg);}
}